{% extends "base.html" %}
{% block title %}Reset Password - eDiary{% endblock title %}

{% block body %}

<div class="container">
    <h1>Reset your password</h1>
    <p>Enter your email address to receive a link to reset your password.</p>
        <!-- if user is logged in then redirect them back to home page -->
        {% if user.is_authenticated %}
        You are already logged in. Please log out first before attempting to reset your password.
        {% else %}
        <form method="post" class="form">{% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Submit" />
        </form>
            {% endif %}
</div>

{% endblock body %}