{% extends "base.html" %}
{% block title %}Help - eDiary{% endblock title %}

{% block body %}
<div class="container">
    <h1>eDiary Help</h1>
    <h3>How can I upload my images?</h3>
    <p>There are lot of free and secure platforms to upload images. Curently we do not support for uploading any kind of media in our server. You can use the following methods to upload your images:</p>
    <ol>
        <li><a href="https://tinypic.host/" target="_blank">Tinypic</a></li>
        <li><a href="https://postimages.org/" target="_blank">PostImage (No account Needed)</a></li>
        <li><a href="https://imgur.com/" target="_blank">Imgur</a></li>
    </ol>
    <p>Just upload your image there and copy the direct link from there and paste it.</p>
    <h3>Can I recover my deleted Diary?</h3>
    <p>No, you can't recover deleted diary because we don't store it after you have deleted it.</p>
</div>
{% endblock body %}